@charset "UTF-8";

/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

/*배경 그라데이션*/
body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
	font-family: 'Nanum Gothic', sans-serif;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* 햄버거메뉴 */
.menu-tab {
    width: 90px;
    height: 70px;
    position: fixed;
    z-index: 100;
    top: 0px;
    left: 0px;
    cursor: pointer;
    transition: all 0.6s ease-in-out;
    /*end of div*/
}

.menu-tab div {
    width: 33px;
    height: 4px;
    background-color: #fff;
    display: block;
    margin: 5px 28px;
    transition: all 0.6s ease-in-out;
    border-radius: 5px;
}

.menu-tab div:nth-child(1) {
    margin-top: 20px;
}

/*end of menu-tab*/
.menu-tab.active {
    left: 345px;
    transition: all 600ms ease-in-out;
    /*background-color: rgba(255, 255, 255, 0.2);*/
}

.menu-tab.active #one {
    transform: translateY(9px) rotate(-135deg);
    transition: all 0.6s ease-in-out;
    background-color: #fff;
}

.menu-tab.active #two {
    opacity: 0;
    transition: 0.4s ease;
}

.menu-tab.active #three {
    transform: translateY(-9px) rotate(-45deg);
    transition: all 0.6s ease-in-out;
    background-color: #fff;
}

/* Left-Slide-menu */
.menu-hide {
    width: 310px;
    left: -310px;
    height: 100vh;
    position: fixed;
    z-index: 10;
    top: 0px;
    transition: all 0.6s ease-in-out;
    /*end of nav*/
}


.menu-hide nav ul li {
    height: 70px;
    list-style-type: none;
    text-align: center;
    line-height: 70px;
    transition: all 0.5s ease;
}


.menu-hide nav ul li a {
    padding: 30px 25px;
    text-decoration: none;
    color: #f1f1f1;
    font-weight: 800;
}

/*end of menu-hide*/
.menu-hide.show {
    left: 0px;
    background-color: rgba(255, 255, 255, 0.2);
    transition: all 0.6s ease-in-out;
}

/* ------------------SECTION-0-HOME------------------ */
#section0 h2, #section0 h2 span{
    font-size: 3vw;
    text-align: center;
    color: #fff;
}
#section0 h1{
    text-align: center;
    color: #fff;
    font-size:10vw;
}
#section0 p{
    text-align: center;
    color: #fff;
    font-size:6vw;
}

/*scroll-btn*/
.scroll-btn {
	width: 150px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	position: absolute;
    left: 50%;
	bottom: 0;
    margin-left:-75px;
	text-align: center;
	z-index: 100;

}
.scroll-btn p.text {text-align: center;font-size: 3vw !important;margin-bottom: 20px;}
@keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}
.scroll-btn > * {
	display: inline-block;
	color: #7f8c8d;
	color: #ffffff;
	font-family: 'Helvetica-Light';
	letter-spacing: 2px;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *.active {
	color: #fff;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *:active,
.scroll-btn > *.active {
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.scroll-btn .mouse {
	position: relative;
	display: block;
	width: 35px;
	height: 55px;
	margin: 0 auto 20px;
	box-sizing: border-box;
	border: 3px solid #fff;
	border-radius: 23px;
}
.scroll-btn .mouse > * {
	position: absolute;
	display: block;
	top: 29%;
	left: 50%;
	width: 8px;
	height: 8px;
	margin: -4px 0 0 -4px;
	background: #fff;
	border-radius: 50%;
	animation: ani-mouse 2.5s linear infinite;
}

/* ------------------SECTION-1-RESPONSIVE------------------ */
section#section1{
    width: 100%;
    
}
#section1 img{width: 100%;}
.none{display: none;}




@media all and (min-width:768px){

}


@media all and (min-width:1200px){

    /* ------------------[PC] SECTION-1-RESPONSIVE------------------ */
    .none{display: block;}
}